#date-opt{
	list-style: none;
}
#date-opt li {
	margin-top: 5px;
	text-decoration: none;
	font: black;
}
#date-opt li img{
	margin-right: 3px;
}
#date-opt li:hover{
	background: white;
	cursor: pointer;
}
#date-opt .active{
	background: white;
	font-weight: bolder;
}
#tags-opt{

}
.tag-opt {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.tag-opt input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.tag-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.tag-opt:hover input ~ .tag-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.tag-opt input:checked ~ .tag-checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.tag-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tag-opt input:checked ~ .tag-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.tag-opt .tag-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#item-input{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
#item-input input{
	min-height: 25px;
	height: 25px;
	max-height: 25px;
}

#item-add button {
	background-color: #FF3232;
  border: 1px solid #FF3232;
  text-decoration: none;
  cursor: pointer;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#item-add button:hover {
	background-color: #B22323;
  border: 1px solid #B22323;
}
#input-title{
	width: 420px;
	min-width: 420px;
	max-width: 420px;
}
#input-date{
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}
#display-todos li{
	list-style: none;
	width: 100%;
}
#display-todos button {
	background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#display-todos button:hover {
	background-color: gray;
}
.right-actions {
	width: 100%;
	text-align: right;
}
