{% extends "layout.html" %}

{% block content %}
<div id="site-body">
  <div id="site-sidebar">
    <ul id="site-sidebar-list">
      <li><i class="fa fa-inbox" aria-hidden="true"></i> Inbox <span class="tasks-num"> 81</span></li>
      <li><i class="fa fa-calendar-o" aria-hidden="true"></i> Today <span class="tasks-num"> 6 </span></li>
      <li><i class="fa fa-calendar" aria-hidden="true"></i> Next 7 days <span class="tasks-num"> 17 </span></li>
      <li><i class="fa fa-list" aria-hidden="true"></i> Entire Term <span class="tasks-num">102</span></li>
    </ul>
    <div id="site-side-navbar">
      <ul>
        <li id="personal-tasks">
          <span>Personal Tasks</span>
          <ul>
            <li>Readings</li>
            <li>Habits</li>
            <li>Meetings</li>
            <li class="labels"><i class="fa fa-plus" aria-hidden="true"></i> Add Labels</li>
          </ul>
        </li>
        <li id="academic-tasks">
          <span>Academic Tasks</span>
          <ul>
            <li>CS-372</li>
            <li>MTH-351</li>
            <li>CS-340</li>
            <li>CS-361</li>
          </ul>
        </li>
        <li id="group-studies">Group Studies</li>
      </ul>
    </div>
  </div>
  <div id="site-content">

  </div>
</div>
{% endblock %}
