{% extends "layout.html" %}

{% block content %}
<h1>search.twig</h1>
<?php
// change the value of $dbuser and $dbpass to your username and password
	include 'connectvarsEECS.php';
echo "1";
	$conn = mysqli_connect(DB_HOST, DB_USER, DB_PASSWORD, DB_NAME);
	if (!$conn) {
		die('Could not connect: ' . mysql_error());
	}
$email = mysqli_real_escape_string($conn, $_POST['email']);
$password = mysqli_real_escape_string($conn, $_POST['password']);
$sql = "SELECT salt FROM HW1 WHERE email='$email'";
$result = mysqli_query($conn, $sql);
if($row = mysqli_fetch_assoc($result)){
  $salt = $row['salt'];
  $password = sha1($password.$salt);
  $saltSql = "SELECT username FROM HW1 WHERE email='$email' AND password='$password'";
  $finalResult = mysqli_query($conn, $saltSql);
  if($finalrow = mysqli_fetch_assoc($finalResult)){
    echo "User in the System";
    <h4><a href="http://web.engr.oregonstate.edu/~alotaima/cs340/HW1/sign-up.php">SIGN UP</a></h4>
    <h4><a href="http://web.engr.oregonstate.edu/~alotaima/cs340/HW1/log-in.php">LOGIN</a></h4>
    <h4><a href="http://web.engr.oregonstate.edu/~alotaima/cs340/HW1/list-users.php">LIST USERS</a></h4>
    return true;
  }
}
echo "ERROR: WRONG EMAIL OR PASSWORD";
<h4><a href="http://web.engr.oregonstate.edu/~alotaima/cs340/HW1/sign-up.php">SIGN UP</a></h4>
<h4><a href="http://web.engr.oregonstate.edu/~alotaima/cs340/HW1/log-in.php">LOGIN</a></h4>
<h4><a href="http://web.engr.oregonstate.edu/~alotaima/cs340/HW1/list-users.php">LIST USERS</a></h4>
return false;
// close connection
mysqli_close($conn);
?>
{% endblock %}
